nav ul li a {
    color: white!important;
    font-weight: 500;
}

nav .btn {
    color: white!important;
    background-color: #ff6600!important;
    text-shadow: 1px 1px 1px black;
}

nav .btn:hover {
    background-color: #ff6600;
}

.brand-logo img {
    padding-top: 20%;
}

div .pt {
    padding-top: 30px;
}

.sidenav {
    z-index: 10;
}

.sidenav-trigger {
    color: #ff6600;
}