.carousel {
    margin-top: 120px;
    margin-bottom: 20px;
    overflow: visible !important;
    margin-bottom: 0px;
}

div .carousel {
    overflow: visible !important;
}

.carousel img {
    width: 100%;
}

.carousel h1 {
    font-size: 25px;
    font-weight: 600;
    color: #ff6600 !important;
}

.carousel .btn {
    background: #ff6600 !important;
}




/* media querys */

@media (max-width: 600px) {
    .carousel {
        margin-top: 50px;
        padding-top: 50px;
        overflow: visible !important;
        height: 100%;
        margin-bottom: 200px;
    }

    .carousel .col .m6 {
        text-align: center;
        overflow: visible !important;
        height: 100%;
    }

    .carousel .active {
        overflow: visible!important;
    }

    div .carousel h1 {
        margin: 0;
    }

    .carousel img {
        width: 85%;
    }
  }

  @media (max-width: 515px) {
    .carousel {
        margin-top: 50px;
        padding-top: 50px;
        overflow: visible !important;
        height: 100%;
    }

    .carousel .col .m6 {
        text-align: center;
        overflow: visible !important;
        height: 100%;
    }

    .carousel .active {
        overflow: visible!important;
    }

    div .carousel h1 {
        margin: 0;
    }
  }