/* .section {
    background-image: url("low-angle-view-of-sky-256112.jpg");
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay2 {
    background: #ffffffe8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */