.section3 {
    background-image: url("../section/high-rise-buildings-under-blue-sky-during-daytime-1636842.jpg");
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

